[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "racing-report-analyzer"

[packages]
flasgger = "*"
flask = "*"
peewee = "*"
flask-restful = "*"
urllib3 = "*"
racing-report-analyzer = {version = "*", index = "racing-report-analyzer"}
dict2xml = "*"
xmltodict = "*"

[dev-packages]
mypy = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
